{% load static %}
{% include './coustomernav.html' %}


<section id="mybooking" class="mt-5">
    <div class="container pt-5 pb-5">
        <div class="mt-5 mybooking text-center"> 
            <h4 class="pb-4">My Bookings</h4>
            <div class="mybooking-btn">
                <a href={% url 'bookingongoing' %}>
                    <div class="btn button-ongoing active text-center"> 
                       <b>ONGOING</b>
                    </div>
                 </a>
                 <a href={% url 'bookinghistory' %}>
                    <div class="btn button-history color-white text-center">
                       <b>HISTORY</b>
                    </div>
                 </a>
            </div>
  
        </div>
        <div class="pt-5 row">
            {% for orderlist in ongoingbook %}
            <div class="col-md-6 border">
                <div class="row border-bottom pt-3">
                    
                    <div class="col-md-7">
                        <h5>{{orderlist.servicename}}</h5>
                        <h6 class="text-secondary pt-1">{{orderlist.orderdatetime}}</h6>

                    </div>
                    <div class="col-md-5">
                        <div class="">
                            <span class="badge-ongoing float-right"><b>REQUEST ONGOING</b></span>
                        </div>
                        {% comment %} <span class="badge badge-green p-2"></span> {% endcomment %}

                    </div>
                    
                
                </div>
                
                <div class="row  p-5  text-secondary">
                    A Verified Agent Will be Assigned to you one hour priod to the scheduled time. You'll be notified through SMS & Email
                </div>
                <div class="text-center pb-3">
                    <a href={% url 'viewbooking' orderlist.orderid %}>
                    <button type="button" class="btn text-white" style="height: 50px; width: 50%;  background-color: #007bff;"><b>VIEW BOOKING</b></button>
                    </a>
                </div>
                
            </div>
            <div class="col-md-6">
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>




{% include './cfooter.html' %}
