{% load static %}
{% include './coustomernav.html' %}

<section id="electricians" class="pt-140-px ">
    <div class="container bg-light">
        <div class="row pt-5 pb-5">
            <div class="col-md-6 pt-5">
                <h1 class="pt-4">{{Servicedata.servicename}}</h1>
                <i class="fa fa-star yellow pr-2" aria-hidden="true"></i> 4.5 (10k)
            </div>
            <div class="col-md-6">
                <img src="/image/{{Servicedata.serviceimage}}" class="h-300px p-2">
            </div>
        </div>
    </div>
</section>
<section id="booking" class="">
    <div class="container bg-light ">
        <div class="row pt-4 pb-5">
            <div class="col-md-6">
                {% for subservice in Subservice %}
                <div class="row border-bottom pb-3 pt-4">
                    {% comment %} <h2>Quick Booking</h2> {% endcomment %}
                    <div class="col-md-9 border-bottom-d pb-3">
                        
                        <h5 class="mt-4">{{subservice.subservicename}}</h5>
                        
                        
                        <i class="fa fa-star yellow pr-2" aria-hidden="true"></i> 4.5 (2k)
                        <div class="pt-2">
                            <i class="fa fa-inr pr-1 text-13px text-black" aria-hidden="true" ></i><b class="pr-3">{{subservice.subserviceprice}}</b>   
                            {% comment %} <i class="fa fa-circle pr-2 pl-3 text-5px mb-2" aria-hidden="true"></i>{% endcomment %}   &#9679;   10 mins 
                        </div>
                    </div>
                    <div class="col-md-3 booking-img">
                        {% comment %} <img src={% static "./images/ele.jpeg" %}> {% endcomment %}
                        <img src="/image/{{subservice.subserviceimage}}" width="160"  height="160"/></td>
                        <a href="{% url 'cbookele' subservice.subserviceid %}">
                            <button class="btn btn-white booking-button pl-3 pr-3 pt-1 pb-1 shadow-sm">Book</button>
                        </a>
                        {% comment %} <input name="add" type="submit" value="Book" class="btn btn-white booking-button pl-3 pr-3 pt-1 pb-1 shadow-sm"> {% endcomment %}
                    </div>
                    <div class="pl-4 mt-3">{{subservice.subservicedescription}}</div>
                   
                </div>
                {% endfor %}
                
                {% comment %} <div class="row border-bottom border-top pb-3 pt-4">
                    <h2>Switch And Socket</h2>
                    
                        <div class="col-md-9 border-bottom-d pb-3">
                        
                            <h5 class="mt-4">SwitchBord Installation</h5>
                            <i class="fa fa-star yellow pr-2" aria-hidden="true"></i> 4.5 (4k)
                            <div class="pt-2">
                                <i class="fa fa-inr pr-1 text-13px text-black" aria-hidden="true" ></i><b class="pr-3">349</b>   
                                
                            </div>
                        </div>
                        <div class="col-md-3 booking-img">
                            <img src={% static "./images/switchbord-install.jpeg" %}>
                            <form method="get" action="{% url 'bookele' %}">
                                <button type="submit" class="btn btn-white booking-button pl-3 pr-3 pt-1 pb-1 shadow-sm">Book</button>
                            </form>
                        </div>
                        <div class="pl-3 pt-3">Installation Of Switch One Bord</div>
                   
                        <div class="row border-top mt-3">
                            <div class="col-md-9 border-bottom-d pb-3">
                            
                                <h5 class="mt-4">SwitchBord repair</h5>
                                <i class="fa fa-star yellow pr-2" aria-hidden="true"></i> 4.55 (1.5k)
                                <div class="pt-2">
                                    <i class="fa fa-inr pr-1 text-13px text-black" aria-hidden="true" ></i><b class="pr-3">110</b>   
                                    
                                </div>
                            </div>
                            <div class="col-md-3 booking-img pt-3">
                                <img src={% static "./images/switchbord-Repair.jpg" %}>
                                <form method="get" action="{% url 'bookele' %}">
                                    <button type="submit" class="btn btn-white booking-button pl-3 pr-3 pt-1 pb-1 shadow-sm">Book</button>
                                </form>
                                
                            </div>
                            <div class="pl-3 pt-3">Repair Of Switch One Bord (Up to 20 switches)</div>
                        </div> {% endcomment %}
                    
                </div>
            </div>


            <div class="col-md-6">
                {% comment %} {% include './bookele.html' %} {% endcomment %}
            </div>
        </div>
    </div>
</section>


{% include './cfooter.html' %}
