{% load static %}
{% include './navbar.html' %}

{% if user.is_authenticated %}
<section id="bookele" class="mt-5 pt-5  background-white">
    <div class="container pt-5 pb-5">
        <div class="row">
            {% comment %} <div class="col-md-2"></div> {% endcomment %}
            <div class="col-md-8">
                <div class="book-title d-flex">
                    {% comment %} <a href={% url 'electricians' %} style="color: black;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><h4 class="pl-4">Order Details</h4> {% endcomment %}
                </div>
                <div class="pt-3"> 
                        <h5 class="border-bottom pb-2">
                            Order Detail
                        </h5>
                        <div class="row pt-3 Order-item-name">
                            <div class="col-md-8">
                                Service Name
                            </div>
                            <div class="col-md-4">
                                <div class="float-right">
                                    <b>Book An Electrician</b>
                                </div>
                               
                            </div>
                        </div>
                        <div class="row pt-3"> 
                            <div class="col-md-10">
                                Price
                            </div>
                            <div class="col-md-2">
                                <div class="float-right">
                                    <i class="fa fa-inr pr-1 text-13px text-black" aria-hidden="true" ></i><b>149</b>
                                </div>
                               
                            </div>
                        </div>
        
                        <div class="payment pt-4 border-bottom">
                            <h5>
                                Payment
                            </h5>
                        </div>
                        <div class="row pt-3">
                            <div class="col-md-10">
                                Item total
                            </div>
                            <div class="col-md-2">
                                <div class="float-right">
                                    <i class="fa fa-inr pr-1 text-13px text-black" aria-hidden="true" ></i><b>149</b>
                                </div>
                               
                            </div>
                        </div>
                        <div class="row pt-3 pb-2">
                            <div class="col-md-10 ">
                                Convenience fee
                            </div>
                            <div class="col-md-2">
                                <div class="float-right">
                                    <i class="fa fa-inr pr-1 text-13px text-black" aria-hidden="true" ></i><b>49</b>
                                </div>
                               
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-md-10">
                                <b>Total</b>
                            </div>
                            <div class="col-md-2">
                                <div class="float-right">
                                    <i class="fa fa-inr pr-1 text-13px text-black" aria-hidden="true" ></i><b>199</b>
                                </div>
                               
                            </div>
                        </div>
                        <div class="text-center">   
                            <button type="submit" class="btn btn-primary pl-4 pr-4 pt-2 pb-2 shadow-sm">Pay Now</button>   
                        </div>
                </div>
            </div>
            {% comment %} <div class="col-md-2"><div> {% endcomment %}
            <div class="col-md-4 address" >
                <h5 class="border-bottom pb-2">
                    Address
                </h5>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label><b>House/Flat No.</b></label>
                        <input type="text" name="houseno" class="form-control" placeholder="House/Flat No." required>
                    </div>
                    <div class="form-group">
                       <label><b>Landmark</b></label>
                       <input type="text"  name="landmark" class="form-control" placeholder="Landmark" required>
                    </div>
                    <div class="form-group">
                        <label><b>Area</b></label><br>
                        <input type="text"  name="area" class="form-control" placeholder="Area" required>
                    </div>
                    <div class="form-group">
                        <label><b>Pin Code</b></label>
                        <input type="text"  name="pincode" class="form-control" placeholder="Pin Code" required>
                    </div>
                    <button type="submit" class="btn btn-primary pl-4 pr-4 pt-2 pb-2 shadow-sm">Save</button>
                </form>
            </div>
        </div>
        
    </div>

</section>
{% comment %} {% else %} {% endcomment %}
{% include './footer.html' %}
{% endif %}
