{% load static %}
{% include './navbar.html' %} 

    <!-- breadcrumbb -->

    <div id="breadcrumb">
        <div class="container">
                <div class="row">
                    <div class="col col--lg-5 ">
                        <h1 class="title">Terms & Conditions</h1>
                        <div>  
                          <ol class="breadcrumb display-flex-custom">
                            <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>&nbsp; 
                            <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
                          </ol>   
                        </div>
                    </div>
                </div>
        </div>
        
    </div>

    <!-- terms-conditions -->
    <section id="terms-conditions">
        <div class="container">
            <div class="pt-5 pb-5">
                <p class="text-silvar">We are here to Provide Services which Focus on Customer Centricity Rather Than Profit Making Motive in Such Competitive Market We Are Working In Ahmedabad City We are Dealing in Aluminium Fabricator, Painting Contractor Industrial General, Door And Gate Automatic, Door And Window Frame Fitting Supplier, Storage Tank Cement Plastic Metal General, False Ceiling, Furniture General, Furniture Showroom, Tank, Sliding, Plaster Of Paris, Furniture Modular, Aluminium Composite Panel. If You Will Join us Then You Will Get Transparency Customer Satisfaction with Right Guidance of Our Services Along with the Trust Seal of J B Home Solutions You will Recommend us two References on the base of Your Services with our best Quality Customer Support.</p>
                {% comment %} <p class="text-silvar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum accusamus ipsa odit illo magni tempore ut consectetur aspernatur suscipit optio.</p> {% endcomment %}

                {% comment %} <p class="text-silvar mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, magnam. Labore fugiat excepturi architecto, doloribus veritatis harum accusantium! Aliquid dolorem aspernatur incidunt! Tempore libero asperiores accusantium totam exercitationem cum adipisci qui voluptatibus. Quae debitis hic deleniti. Voluptate maxime aut adipisci tempore voluptates architecto quae quod, pariatur sequi dolorem facere laborum!</p>

                <p class="text-silvar mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, magnam. Labore fugiat excepturi architecto, doloribus veritatis harum accusantium! Aliquid dolorem aspernatur incidunt! Tempore libero asperiores accusantium totam exercitationem cum adipisci qui voluptatibus. Quae debitis hic deleniti. Voluptate maxime aut adipisci tempore voluptates architecto quae quod, pariatur sequi dolorem facere laborum!</p>

                <p class="text-silvar mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, magnam. Labore fugiat excepturi architecto, doloribus veritatis harum accusantium! Aliquid dolorem aspernatur incidunt! Tempore libero asperiores accusantium totam exercitationem cum adipisci qui voluptatibus. Quae debitis hic deleniti. Voluptate maxime aut adipisci tempore voluptates architecto quae quod, pariatur sequi dolorem facere laborum!</p>

                <p class="text-silvar mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, magnam. Labore fugiat excepturi architecto, doloribus veritatis harum accusantium! Aliquid dolorem aspernatur incidunt! Tempore libero asperiores accusantium tot Quae debitis hic deleniti. Voluptate maxime aut adipisci tempore voluptates architecto quae quod, pariatur sequi dolorem facere laborum!</p> {% endcomment %}
            </div>

        </div>
    </section>
    

    {% include './footer.html' %}